<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
  <title>Using chart in HTML page</title>
  <meta charset="utf-8" />

  <!-- Flexbox styling to have the chart and header fill the page.
      Chart will take as much space as possible. -->
  <style>
      html,
      body {
          height: 100%;
          margin: 0;
      }

      .box {
          display: flex;
          flex-flow: column;
          height: 100%;
      }

      .box .row.header {
          flex: 0 1 auto;
      }

      .box .row.content {
          flex: 1 1 auto;
      }
  </style>
</head>

<body class="box">
  <h1 class="row header">LightningChart<sup>&#174;</sup> JS in HTML page</h1>
  <div id="target" class="row content"></div>

  <script src="lcjs.iife.js"></script>
<script src="xydata.iife.js"></script>    
<script>
      const { lightningChart } =lcjs
  
  const chart = lightningChart().ChartXY({
  
    container:'target'
  })
  
.setTitle('My first chart') // Set chart title
      const data = [
  
  {x:1 , y:1},
  {x:1, y:2},
  ];
      // Add a line series.
      const lineSeries = chart.addaraeaseries()
          .setName('My data')
          .add(data);

    
  </script>
</body>
</html>
